<h2>Stats</h2>


<p>Wins: {{ player_data.total_wins }}</p>
<p>Losses: {{ player_data.total_lost }}</p>
<p>Total score: {{ player_data.total_score }}</p>
<p>Rank: {{ player_data.rank.0 }} / {{ player_data.total_users }}</p>
<hr>

<p>Nickname: {{ player_data.nickname}}</p>
<p>Full name: {{ player_data.full_name }}</p>
<p>joined: {{ player_data.joined }}</p>
<p>last seen: {{ player_data.last_login}}</p>
<hr>

<h2>Last Tournaments ({{player_data.tournaments }})</h2>
{% for game in player_data.games %}
	<p>Start Date: {{ game.start_date }}</p>
	<p>Participants: {% for participant in game.participants %}<a href="{% url 'profile' participant.1 %}"> {{participant.0}}</a> {% endfor %}</p>
	<p>Winner: {{ game.winner }}</p>
	<p>Your Rank: {{ game.own_rank }}</p>
	<p>Your Score: {{ game.own_score }}</p>
	<hr>
{% endfor %}