{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_authenticated %}

	<h1>Hello {{ user.first_name|default:user.username }}!</h1>
    {% if user.userprofile.avatar %}
	    <img src="{{ user.userprofile.avatar.url }}" alt="User picture">
    {% else %}
        <p>Image missing</p>
    {% endif %}
        <p>You are logged in as '{{ user.username }}'.
            {% if user.userprofile.access_token %}
            <br>
                <br>Logged in via OAuth2 from 42.fr
                <br>Access token: {{ user.userprofile.access_token }}
            {% endif %}
            <br>
			<br>Last login: {{ user.last_login }}
			<br>Created at: {{ user.date_joined}}
            <br>User_id: {{ user.id }}
		</p>

    {% endif %}
{% endblock %}
