<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Lobby</title>
    {% load static %}
</head>
<body>
    <h1>WebSocket Lobby</h1>
    <label for="guestName">Guest Name:</label>
    <input type="text" id="guestName">
    <button onclick="createLobby()">Create Lobby</button>
    <br>
    <label for="lobbyId">Lobby ID:</label>
    <input type="text" id="lobbyId">
    <button onclick="joinLobby()">Join Lobby</button>

    <script src="{% static 'game_lobby/app.js' %}"></script>
</body>
</html>
